@charset "UTF-8";



header {
    background-color: #2D5377;
}

header img {
    display: block;

    padding: 15px;
    margin: auto;
}

.menu {
    color: white;
    background-color: #272B3A87;

    display: flex;

    justify-content: space-between;
    padding: 16px;
}

.menu > a {
    color: white;
    
    text-decoration: none;
}
